@import 'tailwindcss';

@theme {
  /* Cores da Identidade Visual */
  --color-brand-beige: #f9f0e4;
  --color-brand-darkbrown: #562311;
  --color-brand-terracotta: #ab3e29;
  --color-brand-midbrown: #af704e;

  /* Tipografia */
  --font-pesto: var(--font-pesto), sans-serif;
  --font-sans: var(--font-jost), Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background-color: var(--color-brand-beige);
  color: var(--color-brand-darkbrown);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

@utility font-pesto {
  font-family: var(--font-pesto);
}

@utility content-visibility-auto {
  content-visibility: auto;
  contain-intrinsic-size: 1px 300px;
}
